<h1>Electronics & accesories</h1>
<ur>
    <li> <a href="/products"> Ver productos </a> </li>
    <li> <a href="/products/new"> Nuevos productos</a></li>
</ur>

<h1 class="chatTittle">Chat Websocket</h1>
{{> chat}}
