<div class="chatcontainer">
<header>
    <h3 class="userName"></h3>
    <p class="typing">Escribiendo...</p>
</header>
<main>
    <div class="chatManager"></div>
</main>
<footer>
    <input type="text" placeholder="Message"/>
    <button>Enviar</button>
</footer>
</div>